/* Refer mdn */

h1 {
    color:orange;
}


/*
p {

    color:rgb(255,0,255);
}
*/

button {
    color:blue;
    background-color: #5fed5f;
}

body {
    background-color: yellow;
}

hr {
    background-color:brown;
    height:5px;
}

#Heading1 {
    color:indigo;
}

.myClass {
    color:red;
}

#box {
    background-color:blue;
}

#textfontproperties {
    text-align: center;
    text-decoration: blue dotted underline;
    font-weight: 300;
    font-family: Arial, serif;
    font-size: 25px;
    line-height: 20px;
    text-transform: lowercase;
}

a {
    text-decoration: none;
}

