* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    background-color: #0f1111;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#heading {
    color: #f08804;
    font-size: 25px;
}

button {
    background-color: #f08804;
}

a {
    text-decoration: none;
}

.mainDiv {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 100px;
    padding: 10px;
    animation-name: fontChange;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
}

#M1 {
    background-color: rgba(255,0,0,0.5);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay:0.1s;
}

#M2 {
    background-color: rgba(0,255,0,0.5);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay:0.1s;
    /*transform: rotate(45deg);*/
}


#M3 {
    background-color: rgba(0,0,255,0.5);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay:0.1s;
}

#M1:hover,#M2:hover, #M3:hover {
    background-color: rgba(0,255,255,0.5);
    transform: scale(2) translate(50px,0) skew(-5deg);
}

@keyframes fontChange {
    from {font-size: 20px} to {font-size: 30px}
}

/*#M1:active, #M2:active, #M3:active {*/
/*    background-color: rgba(220, 113, 220, 0.5);*/
/*}*/



#content {
    height: 700px;
}

footer {
    background-color: #0f1111;
    color: white;
}

@media(max-width: 300px) {
    body {
        background-color: #99df99;
    }
}

@media(min-width: 300px) and (max-width: 400px) {
    body{
        background-color: pink;
    }
}

@media(min-width: 400px) and (max-width: 600px) {
    body{
        background-color: #c54a4a;
    }
}

@media(min-width: 600px) {
    body{
        background-color: #7b7bdc;
    }
}



