* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    background-color: #0f1111;
    height: 60px;
}

#heading {
    color: #f08804;
    font-size: 25px;
}

button {
    background-color: #f08804;
}

.navHeading {
    margin-right: 200px;
}

a {
    text-decoration: none;
}